<div class="col s4">
  <div class="card medium">
    <div class="card-image">
      <img src="{{src}}">
    </div>
    <div class="card-content">
      <p class="more-products-work-title">{{title}}</p>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn-small addBtn" data-id="{{id}}">Add to Cart</a>
    </div>
  </div>
</div>