<div class="col s3"> 
    <div class="card hoverable">
      <a href="#">
      <div class="card-image">
        <img src="{{img}}">
      </div>
      <div class="card-action">
        {{title}}
      </div>
      </a>
    </div>
</div>