<div class="col s3">
  
    <div class="card">
      <a href="#">
        <div class="card-image">
          <img src="{{img}}">
        </div>
        <div class="card-action">
          {{title}}
        </div>
      </a>
          <button style='color:red' class='deleteItem' data-id={{id}}>Delete</button>
    </div>

</div>