<div class="col s3">
  
    <div class="card">
      <a href="#">
      <div class="card-image">
        <img src="{{img}}">
      </div>
      <div class="card-action">
        {{title}}
      </div>
      </a>
      <a href="#">
      <div class="card-action">
        <span style='color:red' data-id={{id}}>Delete</span>
      </div>
      </a>
    </div>

</div>