<div class="container">
  <h1>Dashboard</h1>
  <div class="section">
    <h3>Your Art</h3>
    <div class="row">
      {{#each page.userImages}}
        {{> thumbnail_card img=url title=title}}
      {{/each}}
      {{> thumbnail_card img="/images/plusbutton.png" title="Upload New"}}
    </div>
  </div>
</div>