<div class="container content">

  <h2 class="center-align">Today's Featured Artist</h2>
  <div class="divider"></div>

  <div class="section">
    <div class="responsive-img hoverable" id="featured">
      <img src="https://i.imgur.com/vqJyZHA.jpg" alt="title" class="mainImg">
      <div class="left" id="nameBox">
        <p id="artistName">ARTIST: <br> Annie<br>Leibovitz</p>
      </div>
      <div class="right">
        <span id='timer'></span>
      </div>
    </div>
    <br>
    <a href="./product" class="prodLink hoverable">Visit product page</a>
  </div>

  <div class="divider"></div>
  <div class="section">
    <h3>Recently Featured Artists</h3>
    <div class="row">
      <div class="col s3">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://i.imgur.com/vsVhJAJ.jpg" alt="Salvador Dalí">
            <span class="card-title">Salvador Dalí</span>
          </div>
          <div class="card-content">
            <p>Salvador Dalí</p>
          </div>
          <div class="card-action">
            <a href="https://i.imgur.com/vsVhJAJ.jpg">View Artwork</a>
          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://i.imgur.com/3JuExuI.jpgG" alt="Kuwait-1991">
            <span class="card-title">Kuwait 1991</span>
          </div>
          <div class="card-content">
            <p>Sebastio Salgado</p>
          </div>
          <div class="card-action">
            <a href="https://i.imgur.com/3JuExuI.jpgG">View Artwork</a>
          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://i.imgur.com/SlSz6Rj.jpg" alt="Petunia No. 2">
            <span class="card-title">Petunia No. 2</span>
          </div>
          <div class="card-content">
            <p>Georgia O'Keefe</p>
          </div>
          <div class="card-action">
            <a href="https://i.imgur.com/SlSz6Rj.jpg">View Artwork</a>
          </div>
        </div>
      </div>
      <div class="col s3">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://i.imgur.com/7LIgqwX.jpg" alt="Luxury, Calm, and Desire 1904">
            <span class="card-title">Luxury, Calm, and Desire 1904</span>
          </div>
          <div class="card-content">
            <p>Henri Matisse</p>
          </div>
          <div class="card-action">
            <a href="https://i.imgur.com/7LIgqwX.jpg">View Artwork</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
