<div class="row center content">
  <div class="col s12 login-header-section">
    <h1>ArtistADay</h1>
    <h5>Created for artists like you.</h5>
  </div>
</div>

<div class="row center content">
  <div class="col s6">
    <form action="" method="post" class="register-form" id="registerForm">
      <h3>New Users</h3>
      <p>
        <label for="artistName" class='labelName'>Username:</label><br>
      </p>
      <input type="text" id='registerName' name="username"><br>
      <div>
        <button class="btn waves-effect waves-light" type="submit" name="action" id="register">Register</a>
        </button><br><br>
      </div>
    </form>
    <div id="registerAlert"></div>
  </div>

  <div class="col s6">
    <form action="" class="login-form">
      <h3>Returning Users</h3>
      <p>
        <label for="artistName" class='labelName'>Username:</label><br>
      </p>
      <input type="text" id='loginName' name="username"><br>
      <div>
        <button class="btn waves-effect waves-light" type="submit" name="action" id="loginBtn">Login</a>
        </button><br><br>
      </div>
    </form>
  </div>
</div>