<!-- featured product -->
  <div class="row">
    <div class="col s8 featured-product-image">
      <h5>Featured Artwork</h5>
      {{#each page.featuredArt}}
        {{> featured_card img=src title=title description=description id=id}}
      {{/each}}
    </div>
  <!-- end of featured product -->
    <div class="col s4">
      <div class="featured-description-box">
        <h5>Artist Bio</h5>
        {{#each page.artistLife}}
          {{> artistBio_card img=src title=title}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="section">
    <div class="row">
      <h5>Additional Works by this Artist</h5>
      {{#each page.artImages}}
        {{> artwork_card img=src title=title id=id}}
      {{/each}}
    </div>
  </div>
</div>

