#loginName {
  width: 60%;
}

#registerName {
  width: 60%;
}

.labelName {
  font-size: 20px;
}

.content {
  flex: 1 0 auto;
}

.page-footer {
  width: 100%;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-top: -10px;
  margin-bottom: -10px;
}

.white-text {
  text-align: center;
}

/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}  */