html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.upload {
  font-size: 20px;
}

.page-footer {
  flex-shrink: 0;
  font-size: 20px;
  text-align: center;
}

.portal-header {
  background-image: url("../../assets/header-images/Bootjack.jpeg");
  height: 1000px;
  background-position: center;
  background-size: cover;
  clear: both;
  float: initial;
  color: white;
}

.form-section {
  padding: 10px;
  outline-style: solid;
  outline-width: thin;
}

.woods {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
