.portal-header {
  background-image: url("../assets/header-images/Bootjack\ steps\ BASE\ copy.jpeg");
  height: 500px;
  background-position: center;
  background-size: cover;
  clear: both;
  float: initial;
  color: white
}

.form-section {
  padding: 10px;
  outline-style: solid;
  outline-width: thin;
}

.page-footer {
  width: 100%;
  font-size: 20px;
  text-align: center;
  position: absolute;
  bottom: -350px;
}

