<nav>
  <div class="nav-wrapper">
    <a href="./" class="brand-logo left">ARTIST A DAY</a>
    <ul class="right hide-on-med-and-down"> 
      <li><a href="./">Home</a></li>
      <li><a href="./product">Products</a></li>
      <li><a href="./cart">Cart</a></li>
      <li><a href="./login" id="loginNav">Login</a></li>
      <li><a id="signOut" style="display:none">Sign Out</a></li>
      <li><a href="./dashboard" id="dashboard" style="display:none">Dashboard</a></li>
    </ul>
  </div>
</nav>